services:
  backend:
    build: ./
    restart: always
    container_name: app
    env_file:
      - ./.env
    ports:
      - 8000:8000
    command: 
      bash -c "uv run manage.py makemigrations && 
      uv run manage.py migrate && 
      uv run manage.py runserver 0.0.0.0:8000"
    depends_on:
      postgresql_db:
        condition: service_healthy
    networks:
      - backend

  postgresql_db:
    image: postgres:16
    container_name: postgres
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  backend: